<!DOCTYPE html>
<html>
    <body>

        <h1>JavaScript Dates</h1>
        <h2>Using new Date()</h2>
        <p>Create a new date object with the current date and time:</p>

        <button onclick="displayTime()">Scan passport</button>
	
	<p id="demo"></p>
	
	<button onclick="displayTime2()">Entry gate opened</button>

        <p id="demo2"></p>

	<button onclick="displayTime3()">Entry gate closed</button>
	
	<p id="demo3"></p>

	<button onclick="displayTime4()">Exit gate opened</button>
	
	<p id="demo4"></p>
	
	<button onclick="submitForm()">Submit to Google form</button>
	
	<!--<script src='/javascripts/stopwatch.js'></script>-->
	<script src = "/javascripts/beginTime.js"></script>
	<script src = "/javascripts/entryOpenTime.js"></script>
	<script src = "/javascripts/entryCloseTime.js"></script>
	<script src = "/javascripts/exitOpenTime.js"></script>
	<script src = "/javascripts/urltoform.js"></script>
    </body>
</html>
